@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons';

#body_bg_event {
  background-color:rgba(192,192,192,0.25);
}

.card-event-figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.card-event-figure img {
  display: block;
  width: 100%;
}

.card-event-figure::before {
  content: "";
  position: absolute;
  inset: 0;
}

.banner-event img {
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 400px; /* desktop */
}

@media (max-width: 768px) {
  .banner-event img {
    background-position: center;
    background-size: cover;
    height: 300px; /* reduz para mobile */
  }
}
