@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons';

#body_bg_event {
  background-color:rgba(192,192,192,0.25);
}

.banner-figure {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.banner-figure img {
  display: block;
  width: 100%;
}

.banner-figure::before {
  content: "";
  position: absolute;
  inset: 0;
}

.input-loading {
  position: relative;
}

.input-loading input {
  padding-right: 32px; /* espaço pro gif à direita */
}

.input-loading .spinner {
  position: absolute;
  right: 8px;
  top: 50%;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  display: none;
}