@import "bootstrap/scss/bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons';

#body_bg_event {
  background-color:rgba(192,192,192,0.25);
}

.banner {
  background-position: center;
  background-size: cover;
  width: 1320px;
  height: 400px; /* desktop */
}

@media (max-width: 768px) {
  .banner {
    height: 180px; /* reduz para mobile */
  }
}